{% block body %}
       <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<h1> Ajouter des contrats </h1>
<div class="alert alert-primary" role="">
<p> date de roteur doit etre superieur au date de depart</p>
</div>
{{ form(form)}}


{% endblock%}