{% block body %}
       <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<h1> Creation facture </h1>

<div class="alert alert-primary" role="">
<p> Montant est 100 dinars par jour</p>
</div>

{{ form(form)}}
{% endblock%}